#space{
    width: 1000px;
    height: 600px;
    background: #D16F6F;
    margin: 50px 200px 100px 400px;
    border: 5px solid black;
    border-radius: 50%;
}
h1{
    color: #FFF;
    padding-top: 100px;
    padding-left: 100px;
}